@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body{
    background: url("../estilos/fundo-madeira.jpg") no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}
main {
    height: 100vh;
    position: relative;
}

#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 627px;
    width: 311px;
    border-radius: 50px;
    background: url("../estilos/frame-iphone.png") no-repeat;
}

iframe#tela {
    position: relative;
    top: 80px;
    left: 22px;

    width: 267px;
    height: 470px;
}

section#sociais {
    text-align: right;
}

section#sociais img {
    width:40px;
    margin: 5px;
    border-radius: 50px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.696);
    box-sizing: border-box;
}

section#sociais img:hover {
    border: 1px solid gray;
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.704);
    transition: transform .3s;
}